:target {
	background-color: #ffa;
}

ul.nav li.dropdown:hover ul.dropdown-menu {
	display: block;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
	position: relative;
	min-height: 100%;
}
body {
	/* Margin bottom by footer height */
	margin-bottom: 80px;
}
.footer {
	position: absolute;
	bottom: 0;
	width: 100%;
	/* Set the fixed height of the footer here */
	height: 60px;
	background-color: #f5f5f5;
}
footer .container-fluid {
	width: auto;
	max-width: 680px;
	padding: 0 15px;
}
footer .container-fluid p {
	margin: 20px 0;
}

/* 5 cols
-------------------------------------------------- */
.col-xs-5ths,
.col-sm-5ths,
.col-md-5ths,
.col-lg-5ths {
	position: relative;
	min-height: 1px;
	/*padding-right: 10px;
	padding-left: 10px;*/
}

.col-xs-5ths {
	width: 20%;
	float: left;
}
@media (min-width: 768px) {
	.col-sm-5ths {
		width: 20%;
		float: left;
	}
}
@media (min-width: 992px) {
	.col-md-5ths {
		width: 20%;
		float: left;
	}
}
@media (min-width: 1200px) {
	.col-lg-5ths {
		width: 20%;
		float: left;
	}
}

/* upload file input button
-------------------------------------------------- */
.btn-file {
    position: relative;
    overflow: hidden;
}
.btn-file input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 100px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    outline: none;
    background: white;
    cursor: inherit;
    display: block;
}